<%= form_for(venderor) do |f| %>
  <% if venderor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venderor.errors.count, "error") %> prohibited this venderor from being saved:</h2>

      <ul>
      <% venderor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :nombre,:placeholder => "Nombre del vendedor" %>
  </div>

  <div class="field">
    <%= f.label :'Apellido Paterno' %>
    <%= f.text_field :apellido_p ,:placeholder => "Apellido paterno"%>
  </div>

  <div class="field">
    <%= f.label :'Apellido Materno' %>
    <%= f.text_field :apellido_m ,:placeholder => "Apellido materno" %>
  </div>

  <div class="field">
    <%= f.label :Rut ,"Rut. sin puntos ni espacios"%>
    <%= f.number_field :rut ,:placeholder => "Ej:19033000"%>
  </div>

  <div class="field">
    <%= f.label :'Codigo verificador' %>
    <%= f.text_field :verifi,:placeholder => "Ej k" %>
  </div>

  <div class="field">
    <%= f.label :'Clave', "clave" %>
    <%= f.text_field :clave %>
  </div>

  <div class="actions">
    <%= f.submit "Crear al cliente", :class => "btn btn-primary" %>
  </div>
<% end %>
