<p id="notice"><%= notice %></p>

<h1>Galleta</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galleta.each do |galletum| %>
      <tr>
        <td><%= galletum.descripcion %></td>
        <td><%= galletum.valor %></td>
        <td><%= link_to 'Show', galletum %></td>
        <td><%= link_to 'Edit', edit_galletum_path(galletum) %></td>
        <td><%= link_to 'Destroy', galletum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galletum', new_galletum_path %>
