<p id="notice"><%= notice %></p>

<h1>Lista Helados</h1>

<table>
  <thead>
    <tr>
      <th>Pedido</th>
      <th>Helado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lista_helados.each do |lista_helado| %>
      <tr>
        <td><%= lista_helado.pedido_id %></td>
        <td><%= lista_helado.helado_id %></td>
        <td><%= link_to 'Show', lista_helado %></td>
        <td><%= link_to 'Edit', edit_lista_helado_path(lista_helado) %></td>
        <td><%= link_to 'Destroy', lista_helado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lista Helado', new_lista_helado_path %>
